header {
    text-align: left;
    padding: 10px 10px 0 10px;
}

header h1 {
    font-size: 1.5rem;
    margin-bottom: 2px;
}

header p {
    font-size: 0.9rem;
    margin-top: 2px;
}

header .main-artwork {
    width: 80px !important;
    margin: 5px 0 5px 0 !important;
}

nav ul {
    justify-content: flex-start !important;
}

nav ul li {
    margin-right: 10px;
}
