header {
    text-align: left;
    padding: 10px 10px 0 10px;
}

header h1 {
    font-size: 1.8rem;
    margin-bottom: 0;
}

header .main-artwork {
    width: 40px !important;
    margin: 0 !important;
}

nav ul {
    justify-content: flex-start !important;
}

nav ul li {
    margin-right: 10px;
}
