*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding-top: 80px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;

    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #4E4233;
    background-color: #F1E5D1;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
    color: #4E4233;
    margin-top: 20px;
    margin-bottom: 10px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    background-color: #F1E5D1;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

a {
    color: #4E4233;
    text-decoration: none;
    transition: color 0.15s;
}

a:hover {
    color: #6B5B95;
}

.main-artwork {
    display: block;
}
