*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #4E4233;
    background-color: #F1E5D1;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
    color: #4E4233;
    margin-top: 20px;
    margin-bottom: 10px;
}

.main-artwork {
    max-width: 100%;
    height: auto;
    width: 200px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}